
.modal {
    display: none;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000eb;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    border-radius: 22px;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    background: #d6e1f8;
    color: #000000;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

h3 {
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 0.2rem 2rem;
    font-size: 0.8rem;
    background: #635f5f;
    color: white;
    }

button:active {
    transform: scale(0.97);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input{
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 0.9rem;
}

.delete {
    background-color: #bd2323;
}

.select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.select-box > div {
    display: flex;
    gap: 0.5rem;
}

.collection-box {
    margin-top: 1rem;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

ul{
    list-style: none;
}

li{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.75rem;
    padding: 0.75rem;
}

.year {
    padding-left: 0.5rem;
    font-weight: bold;
}

.title {
    text-transform: uppercase;
}

.author {
    padding-left: 2rem;
    font-style: italic;
}

#books-collection .status {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    background: #cecfd1;
    display: inline-block;
}